:root {
  --main-color: #ffc0cb;
  --main-border: 5px solid black;
  --secondary-border: 2px solid black;
  --head-size: 200px;
}

.head {
  position: relative;
  width: var(--head-size);
  height: var(--head-size);
  border-radius: 50%;
  border: var(--main-border);
  margin-top: 20px;
  background-color: var(--main-color);
}

.ear {
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--main-border);
  background-color: var(--main-color);
  top: -10px;
}

.ear:first-child {
  left: 10px;
}

.ear:nth-child(2) {
  right: 10px;
}

.eye {
  position: absolute;
  top: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid 2px black;
  border-radius: 50%;
  background-color: white;
}

.eye:first-child {
  left: 30px;
}
.eye:nth-child(2) {
  right: 30px;
}

.pupil {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
}

.nose {
  position: absolute;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 30px;
  border: var(--secondary-border);
  border-radius: 35%;
  background-color: #f57187;
}

.nostril {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
}
