.head {
  width: 150px;
  height: 150px;
  margin: 50px;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
  background-color: #a4d9eb;
  position: relative;
}

.light {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.bulb {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  border-radius: 50%;
  background-color: #ffa500;
  z-index: 1;
}

.stick {
  width: 10px;
  height: 15px;
  background-color: #808080;
}

.ear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 50px;
  background-color: #c90a0a;
}

.ear:first-of-type {
  left: -15px;
}

.ear:last-of-type {
  right: -15px;
}
